extends layout

block customcss
    link(rel='stylesheet', href='/stylesheets/signup.css')

block content
    body.bg-body-tertiary
        .container
            main
                .py-5.text-center
                    img.mb-4(src='https://github.com/pengu07.png' alt='' width='72' height='72')
                    h2=title

                div
                    h4.mb-3 Sign up form

                    form(method='POST', action='/login/signup')
                        .row.g-3
                            //-If there were errors, the form regenerates with the already input text and sets their validation
                            if updatedResults
                                .col-sm-6
                                    label.form-label.form-label(for="firstName") First name

                                    if updatedResults[0].condition == 1
                                        input.form-control.is-invalid(type="text", name="firstName", id="firstName", placeholder="Example", required)
                                        .invalid-feedback
                                            p=updatedResults[0].msg
                                    else if updatedResults[0].condition == 0
                                        input.form-control.is-valid(type="text", name="firstName", id="firstName", placeholder="Example", value=updatedResults[0].text, required)
                            
                                .col-sm-6
                                    label.form-label(for="lastName") Last name

                                    if updatedResults[1].condition == 1
                                        input.form-control.is-invalid(type="text", name="lastName", id="lastName", placeholder="Name", required)
                                        .invalid-feedback
                                            p=updatedResults[1].msg
                                    else if updatedResults[1].condition == 0
                                        input.form-control.is-valid(type="text", name="lastName", id="lastName", value=updatedResults[1].text, placeholder="Name", required)

                                .col-12
                                    label.form-label(for="username") Username
                                    if updatedResults[2].condition == 1
                                        input.form-control.is-invalid(type="text", name="username", id="username", placeholder="Username", required)
                                        .invalid-feedback
                                            p=updatedResults[2].msg
                                    else if updatedResults[2].condition == 0
                                        input.form-control.is-valid(type="text", name="username", id="username", placeholder="Username", value=updatedResults[2].text, required)


                                .col-12
                                    label.form-label(for="password") Password
                                    if updatedResults[3].condition == 1
                                        input.form-control.is-invalid(type="password", name="password", id="password", placeholder="Password", required)
                                        .invalid-feedback
                                            p=updatedResults[3].msg
                                    else if updatedResults[3].condition == 0
                                        input.form-control(type="password", name="password", id="password", placeholder="Password", required)
                                        p Password must be at least 8 characters.

                                .col-12
                                    label.form-label(for="confirmPassword") Confirm Password
                                    if updatedResults[4].condition == 1 || updatedResults[5].condition == 1
                                        input.form-control.is-invalid(type="password", name="confirmPassword", id="confirmPassword", placeholder="Password", required)
                                        .invalid-feedback
                                            if updatedResults[4].condition == 1
                                                p=updatedResults[4].msg
                                            if updatedResults[5].condition == 1
                                                p=updatedResults[5].msg
                                    else if updatedResults[4].condition == 0
                                        input.form-control(type="password", name="confirmPassword", id="confirmPassword", placeholder="Password", required)

                                hr.my-4

                                button.w-100.btn.btn-primary.btn-lg(type="submit") Create account!

                            //-This will only show on first attempt to sign up, a version of the form with no validation checks performed yet
                            else
                                .col-sm-6
                                    label.form-label.form-label(for="firstName") First name
                                    input.form-control(type="text", name="firstName", id="firstName", placeholder="Example", required)
                                .col-sm-6
                                    label.form-label(for="lastName") Last name
                                    input.form-control(type="text", name="lastName", id="lastName", placeholder="Name", required)
                                
                                .col-12
                                    label.form-label(for="username") Username
                                    input.form-control(type="text", name="username", id="username", placeholder="Username", required)
                                

                                .col-12
                                    label.form-label(for="password") Password
                                    input.form-control(type="password", name="password", id="password", placeholder="Password", required)
                                    p Password must be at least 8 characters.

                                .col-12
                                    label.form-label(for="confirmPassword") Confirm Password
                                    input.form-control(type="password", name="confirmPassword", id="confirmPassword", placeholder="Password", required)
                                hr.my-4

                                button.w-100.btn.btn-primary.btn-lg(type="submit") Create account!

            footer.my-5.pt-5.text-body-secondary.text-center.text-small
                p.mb-1 ITMD542 - Final Project