extends layout

block customcss
    link(rel='stylesheet', href='/stylesheets/home.css')

block content
    
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        .container-fluid
            .dropdown
                a.d-flex.align-items-center.text-white.text-decoration-none.dropdown-toggle.mx-2(href="#"  data-bs-toggle="dropdown" aria-expanded="false")
                    img(src='https://github.com/pengu07.png' alt='' width='36' height='36')
                ul.dropdown-menu.dropdown-menu-dark.text-small.shadow.mx-2
                    li
                        a.dropdown-item(href=`/user/change-password/${loggedUser.id}`) Change Password
                    li
                        hr.dropdown-divider
                    li
                        a.dropdown-item(href="/signout") Sign out
                        
            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            
            .collapse.navbar-collapse(id="navbarCollapse")
                ul.navbar-nav.me-auto.mb-2.mb-md-0
                    li.nav-item
                    a.nav-link(href="/admin") Home
                    
                    li.nav-item
                    a.nav-link(href="/admin/all-items") Items
                    
                    li.nav-item
                    a.nav-link(href="/admin/all-sources") Item Sources
                
                    li.nav-item
                    a.nav-link(href="/admin/all-users") Users

                form.d-flex(role="search")
                    input.form-control.me-2(type="search" placeholder="Search" aria-label="Search")
                    button.btn.btn-outline-success(type="submitSearch") Search

    
    main.container
        .bg-body-tertiary.p-5.rounded
            h3.text-center Viewing a single item source
            if error
                .alert.alert-danger
                    each value in error
                        p=value.msg
            form
                .row.g-3
                
                    .col-12
                        label.form-label.form-label(for="sourceName") Name
                        input.form-control(type="text", name="sourceName", id="sourceName", placeholder="Name of Item Source", value=source.name, readonly, disabled)

                    .col-12
                        label.form-label(for="location") Location
                        input.form-control(type="text", name="location", id="location", placeholder="Place Name", value=source.location, readonly, disabled)
                    

                    .col-12
                        .form-check
                            label.form-check-label(for="enemy") Enemy
                            if source.type == 'enemy'
                                input.form-check-input(type="radio", name="type", id="enemy", value="enemy", checked, readonly, disabled)
                            else
                                input.form-check-input(type="radio", name="type", id="enemy", value="enemy", readonly, disabled)

                        .form-check                
                            label.form-check-label(for="chest") Treasure Chest
                            if source.type == 'chest'
                                input.form-check-input(type="radio", name="type", id="chest", value="chest", checked, readonly, disabled)
                            else
                                input.form-check-input(type="radio", name="type", id="chest", value="chest", readonly, disabled)

                    .col-12
                        label.form-label(for="level") Level
                        input.form-control(type="number", name="level", id="level", placeholder="Level 1 - 60", min="1", max="60", value=source.level, readonly, disabled)
                    hr.my-4

                
                    .text-center
                        a.w-50.btn.btn-success.btn-md(href="/admin/all-sources") Return



