extends layout

block customcss
    link(rel='stylesheet', href='/stylesheets/table.css')
    link(rel='stylesheet', href='/stylesheets/home.css')

block content
    
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        .container-fluid
            img.mx-2(src='https://github.com/pengu07.png' alt='' width='36' height='36')
            button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            
            .collapse.navbar-collapse(id="navbarCollapse")
                ul.navbar-nav.me-auto.mb-2.mb-md-0
                    li.nav-item
                    a.nav-link(href="/admin") Home
                    
                    li.nav-item
                    a.nav-link(href="/admin/all-items") Items
                    
                    li.nav-item
                    a.nav-link.active(aria-current="page", href="/admin/all-sources") Item Sources
                
            
                form.d-flex(role="search")
                    input.form-control.me-2(type="search" placeholder="Search" aria-label="Search")
                    button.btn.btn-outline-success(type="submitSearch") Search

    
    main.container
        .bg-body-tertiary.p-5.rounded
            h1 Item Sources
            p.lead List of all possible item sources
            a(href="/admin/create-source")
                button.btn.btn-success.float-right.createBtn Create new source!
            if sources.length > 0
                table.table.table-hover.table-dark
                    thead
                        tr
                            th(scope="col") Name
                            th(scope="col") Location
                            th(scope="col") Type
                            th(scope="col") Actions
                    tbody
                        each value in sources
                            tr
                                td= value.name
                                td= value.location
                                if value.type == 'enemy'
                                    td= `Level: ${value.level}`
                                if value.type == 'chest'
                                    td Chest
                                td
                                    .btn-group
                                        a.btn.btn-primary(href=`/admin/view-source/${value._id}`)= 'View'
                                        a.btn.btn-secondary(href=`/admin/edit-source/${value._id}`)= 'Edit'
                                        a.btn.btn-danger(href=`/admin/delete-source/${value._id}`)= 'Delete'






