extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/contacts/create') Create a new contact
  if contacts.length > 0
    ul.contacts
      each value in contacts
        li(data-contactsid=value.id)= value.id
        li(data-contactsid=value.id)= value.firstName
        li(data-contactsid=value.id)= value.lastName
        li(data-contactsid=value.id)= value.email
        li(data-contactsid=value.id)= value.notes
        li(data-contactsid=value.id)= value.creation
        li(data-contactsid=value.id)
          a(href=`/contacts/${value.id}`)= 'View Contact'
        li(data-contactsid=value.id)
          a(href=`/contacts/${value.id}/edit`)= 'Edit Contact'
        li(data-contactsid=value.id)
          a(href=`/contacts/${value.id}/delete`)= 'Delete Contact'